[Unit]
Description=Meteo Receiver from Ascon H5
After=network.target
Wants=

[Service]
Type=notify

User=yggdra
Group=yggdra

ExecStart=/usr/local/bin/meteo_h5

TimeoutStartSec=15
WatchdogSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
